{% extends 'base.html' %}
{% load thumbnail %}
{% block content %}
<div class="alert alert-warning" role="alert">
    PokeGutkowo - w budowie...
</div>
<blockquote class="blockquote text-center">
    <p class="mb-0">Nadchodzi nowa, lepsza era dla nielicznych graczy PokemonGO w gutkowie. Stay tuned!</p>
    <div class="text-center">
        <h1>{{ settings.owner_nick }}</h1>
        {{ settings.owner_team }}<br>
        {% thumbnail settings.owner_screenshot "270x480" crop="center" as img %}
        <img src="{{ img.url }}" class="rounded" width="{{ img.width }}" height="{{ img.height }}">
        {% endthumbnail %}
    </div>
</blockquote>
{% endblock %}